<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/css/style1.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <title>index1 forum</title>
    </head>
    <body>
        <div class="formbody">
            <header>
                <div class="text-center jumbotron">
                    <h1>Service de Propreté <span class="badge ">Charrat</span></h1>
                    <p class="lead">NETTOYAGE - ESPACES VERTS</p>
                    <u><p>NETTOYAGE et ENTRETIEN pour les Entreprises</p></u>
                    <button type="button" class="btn btn-link bouton1" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo"><u>Contactez l'entretprise</u></button>
                    <button type="button" class="btn btn-link bouton1" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><u>Horraire d'ouverture</u></button>
                    <button type="button" class="btn btn-link bouton1" data-toggle="modal" data-target="#exampleModal2" data-whatever="@fat"><u>Recrutement</u></button>
                    <div class="collapse collapse" id="collapseExample">
                        <div class="card card-body cardbody">
                            <p><u class="font-weight-bold rens">Port.</u> 07.82.14.48.43</p>
                            <p><u class="font-weight-bold rens">Tel.</u> 09.51.37.14.32</p>
                            <p><u class="font-weight-bold rens">Mail.</u> spc.54.nc@gmail.com</p>
                            <p><u class="font-weight-bold rens">Siret. 82026849800012 NAF . 8121Z </u></p>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="card card-body cardbody">
                                        <h2>Information de l'Entreprise</h2>
                                    </div>
                                    <div class="modal-header">
                                        <div class="card card-body cardbody">
                                            <p><u class="font-weight-bold rens">Port.</u> 07.82.14.48.43</p>
                                            <p><u class="font-weight-bold rens">Tel.</u> 09.51.37.14.32</p>
                                            <p><u class="font-weight-bold rens">Mail.</u> spc.54.nc@gmail.com</p>
                                            <p><u class="font-weight-bold rens">Siret. 82026849800012 NAF . 8121Z </u></p>
                                        </div>
                                        <div class="modal-body"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="card card-body cardbody">
                                    <h2>Horraire de l'Entreprise</h2>
                                </div>
                                <div class="modal-header">
                                    <div class="card card-body cardbody">
                                        <p><u class="font-weight-bold rens">Lundi: </u>..............</p>
                                        <p><u class="font-weight-bold rens">Mardi: </u>..............</p>
                                        <p><u class="font-weight-bold rens">Mercredi: </u>...........</p>
                                        <p><u class="font-weight-bold rens">Jeudi: </u>..............</p>
                                        <p><u class="font-weight-bold rens">Vendredi: </u>...........</p>
                                        <p><u class="font-weight-bold rens">Samedi: </u>.............</p>
                                        <p><u class="font-weight-bold rens">Dimanche: </u>...........</p>
                                    </div>
                                    <div class="modal-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="card card-body cardbody">
                                        <h2>Envoyer votre CV</h2>
                                    </div>
                                    <div class="modal-header">
                                        <div class="card card-body cardbody">
                                            <p><u class="font-weight-bold rens">Adresse.</u> 4 Rue de Châtillon - 54230 NEUVES MAISONS</p>
                                            <p><u class="font-weight-bold rens">Mail.</u> spc.54.nc@gmail.com</p>
                                        </div>
                                        <div class="modal-body"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </header>
                <div class="jumbotron">
                    <h4>Les partenaire qui nous font confiance</h4>
                    <hr class="hr2">
                    <div class="row">
                            <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png" style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png"  style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png"style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png" style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png"  style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                            <a href="base1.html">
                                <img src="../src/img/logo.spc.png"style="width:25%">
                                <div class="caption">
                                <p>Lorem ipsum...</p>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footerpage text-center">
                    <div class="footertext">
                        <p>Entreprise générale d'entretien: bureaux, immeubles, magasin, copropriétés, remise en état, lavage de vitres, shampoing moquette, entretien espace verts</p>
                        <p>SIRET: 82026849800012 - NAF8121Z - N°intracommunautaire TVA: FR90820268498
                        Assurance professionnelle RC N° AP791375 souscrite auprès de générali
                        35, place carrière 54000 NANCY</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
