<div class="card">
    <img src="../src/img/logo.png" class="card-img-top cardimg" alt="Responsive image">
    <div class="card-body cardbody">
        <h3 class="card-title cardtext text-center"><u>Service de Propreté</u></h3>
        <h1><p class="card-text cardtext text-center">Charrat</p></h1>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item textgroup text-center">Les qualités de l'entreprise</li>
        <li class="list-group-item textgroup">Nettoyage</li>
        <li class="list-group-item textgroup">Terrasse</li>
        <li class="list-group-item textgroup">Véranda</li>
        <li class="list-group-item textgroup">Lavage de vitres</li>
        <li class="list-group-item textgroup">Bureau</li>
        <li class="list-group-item textgroup">Nettoyage immeuble</li>
        <li class="list-group-item textgroup">Commerce</li>
        <li class="list-group-item textgroup">Particulier</li>
        <li class="list-group-item textgroup">Espaces verts</li>
        <li class="list-group-item textgroup">Débaras</li>
    </ul>
</div>