html {
    height: 100%;
    background-color: black;

}

.formbody {
    background-color: black;
    margin: 0 auto;
    background-repeat:no-repeat;
    background-position:center center;

}


.footerpage {
    background-color: black;
    color: white;
    border: 2px solid #b2ce0d;
    margin-left: .5rem;
    margin-right: .5rem;
    
}

.hr {
    width: 800px;
    height: 2px;
    background-image: radial-gradient(circle at center,black 10px, #b2ce0d );

}

.hr2 {
    background-color: black;
    
}

.jumbotron {
    background-color: black;
    color: white;
    border: 2px solid #b2ce0d;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;

}

.juming {
    height: 350px;
    width: 350px;
}

.badge {
    background-color: #b2ce0d;
}

.bouton1 {
    border: 1px solid #b2ce0d;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;

}

.collapse {
    border: 2px solid #b2ce0d;

}

.cardbody {
    background-color: black;

}

/* ACCORDION */
.cardaccordion {
    background-color: black;
    color: white;
    border: 2px solid #b2ce0d;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;

}

.cardbutton {
    color: white;
    
}

.cardaccordiondbody {
    border: black;
    border-top: 2px solid #b2ce0d;
    

}
/**/

/* CAROUSEL */
.carousel {
    width: 350px;
    height: 250px;
    margin: auto;
    background-color: black;
}

.carouselimg {
    width: 350px;
    height: 250px;
    border: 2px solid white;
}

.carousel-indicators li {
    background-color: white;
    width: 50px;
    height: 5px;

}
/**/



