.formbody {
    /*background-image:url(../img/formbody.png);*/
    background-color: black;


}

.footerpage {
    background-color: black;
    color: white;
    border: 4px solid #b2ce0d;
    margin-left: .5rem;
    margin-right: .5rem;
    
}
.navbar  {
    background-color: black;
    color: white;
    border: 4px solid #b2ce0d;
    margin-left: .5rem;
    margin-right: .5rem;

}

.hr {
    width: 500px;
    height: 2px;
    background-image: radial-gradient(circle at center,black 10px, #b2ce0d );
}

/* Icone navbar */

.button1 {
    border: 2px solid #b2ce0d;
}

.icone {
    color:white;
    border: 2px solid #b2ce0d;
    width: 3.5em;
}
/**/

.navimg {
    height: 75px;
    width: 75px;

}

.nom {  
    color: white;

}

.titrentre {
    color: white;
}

.boutonmodal {
    border: 2px solid #b2ce0d;
    background-color: black;
    color: white;
}

/* MODAL */
.tittlemodal {
    color:black;
}

.modalheader {
    border: 2px solid #b2ce0d;
    background-color: black;
    

}

.tittlemodal {
    color: #b2ce0d;

}

.modalfooter {
    border: 2px solid #b2ce0d;
    background-color: black;
}

.modalbody {
    background-image: repeating-linear-gradient(black, #b2ce0d 900px);
    border-left: 2px solid #b2ce0d;
    border-right: 2px solid #b2ce0d;
    color:white;
}



.boutonmodalfooter {
    border: 2px solid #b2ce0d;
    background-color: black;
    color: white;

}

.rens {
    color: #b2ce0d;

}

/* CAROUSEL */
.carouselimg {
    width: 50px;
    height: 150px;
    margin-left: .5rem;
    margin-right: .5rem;
    border: 2px solid #b2ce0d;
}

.iconecarousel {
   
}
/**/


/* CARD */

.card{
    width: 15rem;
}

.cardimg {
    background-color: black;
    border: 2px solid #b2ce0d;
}

.cardbody {
    background-color: black;
    border: 2px solid #b2ce0d;
}
.cardtext {
    color: white;
}

.textgroup {
    background-color: black;
    color: white;
    border: 2px solid #b2ce0d;
}
